{% extends "referral/consolebase.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>console | all_requests</title>{% endblock title %}
{% block head %}<h4>Console | All referrals </h4>{% endblock head %}

{% block content %}
<div class="container">



{% if ref_req %}

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Referrals</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                    <table class="table w-auto table-striped table-bordered">
                        <tbody>
                          <thead>
                          <tr class="table-secondary">
                            <th>Time</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Reference</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Notes</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
{% for i in ref_req %}
                          <tr class="table-{{ i.alert }}">
                            <td>{{ i.date_posted|timesince }} ago</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.contact_number }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.reference }}</td>
                            <td>{{ i.status}}</td>
                            <td>{{ i.amount }}</td>
                            <td>{{ i.note }}</td>
                            <td>
                        <a href="{% url 'console' rpk=i.id %}" class="btn btn-success btn-sm btn-circle">
                          <i class="fas fa-pen"></i>
                        </a>
                            </td>
                            </tr>
{% endfor %}
                        </tbody>
                      </table>
                    </div><br>
<br><br>
{% if urform %}
        <div class="col-xl-12 col-md-12 mb-12">
              <form class="user" method="POST">
                      {% csrf_token %}
                      <fieldset class="form-group">
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8">
    <div class="form-row col-md-12">
      <div class="form-group col-md-4 mb-0">
        {{ urform.name|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ urform.contact_number|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ urform.email|as_crispy_field }}
      </div>
    </div>

    <div class="form-row col-md-12">
      <div class="form-group col-md-4 mb-0">
        {{ urform.status|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ urform.amount|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ urform.city|as_crispy_field }}
      </div>
    </div> 
</div>
    <div class="form-row col-md-4">
    {{ urform.note|as_crispy_field }} 
    </div>  
</div>

</fieldset>
    <div class="form-group">
      <div class="row">
        <div class=" col-md-3">
            <button class="btn btn-primary btn-user btn-block" type="submit" name="bank_info">Update</button>
        </div>
        <div class="col-md-3">
            <a href="{% url 'console' %}"><button class="btn btn-secondary btn-user btn-block" type="button">Cancal</button></a>
        </div>
      </div>
    </div>
    </form>
               </div>
{% endif %}

                </div>
              </div>
            </div>
          </div>
{% endif %}
</div>


{% endblock %}
