{% extends "referral/consolebase.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}<title>console | all_requests</title>{% endblock title %}
{% block head %}<h4>Console | All withdrawal request </h4>{% endblock head %}

{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

{% if wd_req %}

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Withdraw Requests</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                          <tr class="table-secondary">
                            <th>Time</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Holder</th>         
                            <th>Note</th>
                            <th>Edit</th>
                          </tr>
{% for i in wd_req %}
                          <tr class="table-{{ i.alert }}">
                            <td>{{ i.date_posted|timesince }} ago</td>
                            <td>{{ i.amount }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.holder.email }}</td>
                            <td>{{ i.note }}</td>
                            <td>                   
                        <a href="{% url 'console' wpk=i.id %}" class="btn btn-success btn-sm btn-circle">
                          <i class="fas fa-pen"></i>
                        </a>

                      </td>
                            </tr>
{% endfor %}
                        </tbody>
                      </table>
                    </div>

                </div>

                </div>
              </div>
            </div>
{% else %}
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Withdrawal Requests</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive">
                            <center><img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="{% static 'referral/img/undraw_wallet_aym5.svg' %}" alt="">
                            <h5>All withdrawal requests are reviewed</h5></center>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endif %}




        </div>
      <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
{% endblock %}