{% load static %}
{% load gravatar %}
{% load percentage %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard | One Vihav</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'referral/assets/image/favicon.ico' %}">
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="{% static 'referral/vendor/fontawesome-free/css/all.min.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="{% static 'referral/css/sb-admin-2.css' %}">
<!-- Hotjar Tracking Code for https://vihavpriviledge.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1956923,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<style type="text/css">
  html,body {
    height:100%;
}
.h_iframe iframe {
    position:absolute;
    left:0;
    width:100%;
    height:100%;
}
</style>
</head>

<body id="page-top">
<script type="text/javascript">
function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
}
</script>
  <!-- Page Wrapper -->
  <div id="wrapper">

{% if user.profile.verified == False %}
<div id="content-wrapper" class=".mh-100 m-5 d-flex flex-column">
  <div class="container d-flex h-100">
      <div class="card-body align-items-center h-100">
          <div class="text-center">
             <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'referral/img/undraw_working_remotely_jh40.svg' %}" alt="">
          </div>
          <center><h2><b>Thank you for your interest in One Vihav</b></h2>
            <h5 class="p-4">
Your One Vihav account is under review. Our support team will process your application soon and get in touch with you if needed. You will receive a confirmation email once verification complete.</h5>

          <a href="{% url 'logout' %}">Log out &rarr;</a>

</div>
</div>

{% elif user.profile.is_client == False %} 
<div id="content-wrapper" class=".mh-100 m-5 d-flex flex-column">
                        <div class="card-body">
                          <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'referral/img/undraw_access_denied_6w73.svg' %}" alt="">
                          </div>
                          <center><h3>Sorry! <br>This programm is exculsive to Vihav's associates only. <br> We are unable to find your details on our database.</h3>
                            Vihav associates but unble to create account ?
                            <a href="#" data-target="#new_contact_form" data-toggle="modal" class="d-inline-block d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-50"></i> Contact Us</a> <br><br>
                            <a href="{% url 'logout' %}">Log out</a>
                            </center>
                        </div>
</div>
{% else %} 
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<div class="container">
          <a class="navbar-brand" href="{% url 'login' %}">
            <img style="width: 8rem;" src="{% static 'referral/assets/image/hero-logo.png' %}">
          </a>
</div>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ user.profile.name }}</span>
                <img class="img-profile rounded-circle" src="{{ user|gravatar }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-target="#new_contact_form" data-toggle="modal" class="d-inline-block d-sm-inline-block"> <i class="fas fa-envelope fa-sm fa-fw mr-2 text-gray-400"></i>Contact Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
      <div class="container-fluid">
      <main role="main" class="container">
      <div class="row">
          <div class="container">
          {% if messages %}
          {% for i in messages %}
          <div class="alert alert-info">
            {{ i }}
          </div>
          {% endfor %}
          {% endif %}
          </div>
          
      </div>
      </main>
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard | {{ request.user.profile.membership }} Membership </h1>
          </div>


          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Your Credit</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{ total }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Success Referrals</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                          {{ success_referral|length }}
                        </div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Referrals</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending_referral|length }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <br><hr>

        <div class="row">
          <div class="col-xl-6 col-md-6 mb-6">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
               <h1 class="h3 mb-0 text-gray-800">Your Referrals</h1>
                <a href="#" data-target="#new_referral_form" data-toggle="modal" class="d-inline-block d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-50"></i> Submit New Referral</a>
            </div> 

            {% if referrals|length != 0 %}
            {% for i in referrals %}

            <div class="card border-left-{{ i.alert }} shadow py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-left">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-{{ i.alert }} text-uppercase mb-1">{{ i.status }}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ i.name }}
                    </div>
                    <div class=""><small><span>{% if i.note %} Note:  {{ i.note }} {% endif %}</span></small>
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="h5 mb-0 text-gray-600">₹ {{ i.amount }}
                    </div>
                  </div>                   
                </div>
              </div>
            </div><br>

            {% endfor %}


        {% else %}
                        <div class="card-body">
                          <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'referral/img/undraw_empty_xct9.svg' %}" alt="">
                          </div>
                          <center>It seems that you don't have any referrals yet. 
                          <a href="#" data-target="#new_contact_form" data-toggle="modal" class="d-inline-block d-sm-inline-block"> Contact Us</a> If you have refered but unable to see referrals on dashboard</center>
                        </div>

        {% endif %}
          </div>

          <div class="col-xl-6 col-md-6 mb-6">

                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">My Bank Details</h6>
                    </div>

                    <div class="card-body" id="bankinfo" style="display: block;">  
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Account holder</th>
                            <td>{{ bank_info.account_holder_name }}</td>
                          </tr>
                          <tr>
                            <th>Bank Name</th>
                            <td>{{ bank_info.bank_name }}</td>
                          </tr>
                          <tr>
                            <th>Account Number</th>
                            <td>{{ bank_info.account_number }}</td>
                          </tr>
                          <tr>
                            <th>IFSC code</th>
                            <td>{{ bank_info.IFSC_code }}</td>
                          </tr>
                          <tr>
                            <th>Bank Name</th>
                            <td>{{ bank_info.bank_name }}</td>
                          </tr>
                          <tr>
                            <th>Account Type</th>
                            <td>{{ bank_info.account_type }}</td>
                          </tr>                  
                          <tr>
                            <th>Branch</th>
                            <td>{{ bank_info.branch }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a href="javascript:SwapDivsWithClick('bankinfo','bankform')">Update bank details &rarr;</a>
                    </div>

               <div class="card-body" id="bankform" style="display:none">  
                 <form class="user" method="POST">
                 {% csrf_token %}
                 <fieldset class="form-group">
     <div class='row'>
        <div class='col-md-12'>
              {{ b_form.account_holder_name|as_crispy_field }}
        </div>
     </div>
      <div class='row'>
        <div class='col-md-6'>
              {{ b_form.bank_name|as_crispy_field }}
        </div>
        <div class='col-md-6'>
              {{ b_form.account_number|as_crispy_field }}
        </div>
      </div>

       <div class='row'>
        <div class='col-md-6'>
              {{ b_form.IFSC_code|as_crispy_field }}
        </div>
        <div class='col-md-6'>
              {{ b_form.branch|as_crispy_field }}
        </div>
      </div>

     <div class='row'>
        <div class='col-md-12'>
              {{ b_form.account_type|as_crispy_field }}
        </div>
     </div>
                 </fieldset>
                 <div class="form-group">
                 <button class="btn btn-primary btn-user btn-block" type="submit" name="bank_info">Save</button>
                 </div>
              </form>
                    <a href="javascript:SwapDivsWithClick('bankinfo','bankform')">&larr; Back </a>
                </div>
              </div>
                    



<!---
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Withdraw requests</h6>
                    </div>

{% if withdraw_req|length != 0 %}

                    <div class="card-body" id="bankinfo" style="display: block;">  
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Note</th>
                          </tr>
{% for i in withdraw_req %}
                          <tr class="{{ i.alert }}">
                            <td>{{ i.date_posted|timesince }} ago</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.amount }}</td>
                            <td>{{ i.note }}</td>
                          </tr>
{% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <a href="{% url 'withdraw' %}">New withdarw request &rarr;</a>
                  </div>

{% else %}
                        <div class="card-body">
                          <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="{% static 'referral/img/undraw_empty_xct9.svg' %}" alt="">
                          </div>
                          <center>It seems that you don't have any withdraw requests yet. <br><br><a href="{% url 'withdraw' %}">New withdarw request &rarr;</a></center>
                        </div>
{% endif %}
                </div>  --->
                </div>
 
          </div>
          </div>

        </div>



        </div>
            <!-- End of Content Wrapper -->

    </div>
   </div>
  <!-- End of Page Wrapper -->

{% include 'referral/index.html' %}

 <!--
<div class="h_iframe">
<iframe src="http://vihavprivilege.pe.hu/" target="_blank"  target="_top" frameborder="0" allowfullscreen></iframe>
</div>


              Footer --
              <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Vihav Group 2020</span>
                  </div>
                </div>
              </footer>
              !-- End of Footer -->


  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #dcb865;"><b>READY TO LEAVE?</b></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- form Modal-->
  <div class="modal fade" id="new_referral_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="
    color: #dcb865;"><b>SUBMIT A REFERRAL</b></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
         <form class="user" method="POST">
          <div class="form-fields">
         {% csrf_token %}
        <div class='row'>
        <div class='col-md-6'>
              {{ r_form.name|as_crispy_field }}
        </div>
        <div class='col-md-6'>
              {{ r_form.last_name|as_crispy_field }}
        </div>
        </div>
        <div class='row'>
        <div class='col-md-12'>
              {{ r_form.contact_number|as_crispy_field }}
              {{ r_form.email|as_crispy_field }}
              {{ r_form.city|as_crispy_field }}
              {{ r_form.site|as_crispy_field }}
        </div>
      </div>
         <div class="form-group">
            <button class="btn btn-primary btn-user btn-block" type="submit" name="new_referral">SUBMIT</button>
         </div>
         </div>
         </form>

        </div>
      </div>
    </div>
  </div>


  <!-- form Modal-->
  <div class="modal fade" id="new_contact_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="
    color: #dcb865;"><b>Contact Us</b></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
         <form action="{% url 'send_message' %}" class="user"  method="POST">
          <div class="form-fields">
         {% csrf_token %}
         {{ c_form|crispy }}
         </div>
         <div class="form-group">
            <button class="btn btn-primary btn-user btn-block" type="submit" name="new_referral">SUBMIT</button>
         </div>
         </form>
         <center>OR</center>
         <center>Call <a href="tel:7201985985"> 7201985985</a></center>
         </div>

        </div>
      </div>
    </div>
  </div>

{% endif %}

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'referral/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'referral/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'referral/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="{% static 'referral/js/sb-admin-2.min.js' %}"></script>


</body>

</html>
