{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>One Vihav</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'referral/assets\image/favicon.ico' %}">

    
    <link rel="stylesheet" type="text/css" href="{% static 'referral/assets/css/style.css' %}">

</head>
  <body>
    <section class="hero-screen">
      <div class="hero-container">
        <div class="hero-row">
          <div class="hero-col hero-col-1">
            <div class="hero-content">
              <div class="image-for-mobile">
                <img
                  src="{% static 'referral/assets/image/hero-logo.png' %}"
                  alt="hero logo"
                  class="hero-logo-mob"
                />
              </div>
              <h1>
                REFER <br />WHOM YOU<br />
                PREFER
              </h1>
              <div class="line"></div>
              <p class="hero-paragraph">
                A rewarding referal program <br />exclusively for Vihav Associates.
              </p>
              <p class="hero-paragraph">
                Refer our projects to your circle and earn <br />attractive
                reward points.
              </p>
              <div class="hero-button-box">
                <a href="{% url 'signup' %}" class="hero-button">JOIN NOW</a>
                <a href="{% url 'login' %}" class="hero-button">LOG IN</a>
              </div>
            </div>
          </div>
          <div class="hero-col hero-col-2">
            <div class="hero-image-box">
              <img
                src="{% static 'referral/assets/image/hero-logo.png' %}"
                alt="logo"
                class="hero-logo"
              />
              <img
                src="{% static 'referral/assets/image/people-original.png' %}"
                alt="people image"
                class="hero-people"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>