{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font --> 
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Playfair+Display:wght@600&family=Roboto&family=Lato&display=swap"
        rel="stylesheet">


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/9b86ed02de.js" crossorigin="anonymous"></script>

    <!-- Global CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'referral/aset/css/style.css' %}">
    <title>Vihav</title>
</head>

<body>

    <section id="program-sec">
        <div class="container">
            <h2 class="heading-title text-center">
                About program
            </h2>
            <div class="divider mb-4">
                <span></span>
            </div>
            <div class="my-4 pb-4"></div>
            <div class="row">
                <div class="col-md-6">
                    <p class="pr-4">
                        This is an exclusive membership program for vihav’s associates.
                        The program offers exciting exclusive rewards to its members, whenever
                        they make another purchase at Vihav or refer the extraordinary Vihav Life
                        to their friends and family.
                    </p>
                    <p class="pr-4">
                        Help your friends & family To find their dream home with Vihav & earn rewards.
                        When your friend books a property at vihav with your reference,You get a direct
                        reward of 6% of the amount
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'referral/aset/images/gallery.jpg' %}" class="img-fluid home-img">
                </div>
            </div>
        </div>
    </section>

    <section id="work-sec">
        <div class="container">
            <h2 class="heading-title text-center">
                How it works
            </h2>
            <div class="divider mb-4">
                <span></span>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{% static 'referral/aset/images/post-img1.png' %}" alt="Card image cap">
                        <div class="card-body p-4 mt-4">
                            <h5 class="card-title">Refer Vihav To Your Friends And Family</h5>
                            <p class="card-text mb-4">
                                Recommend vihav to your friends and family by letting them know about the benefits &
                                quality they'd get at our projects.
                            </p>
                        </div>
                        <span class="card-badge">Step-1</span>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{% static 'referral/aset/images/post-img2.png' %}" alt="Card image cap">
                        <div class="card-body p4 mt-4">
                            <h5 class="card-title">Your Friend Will Refer You While Booking</h5>
                            <p class="card-text mb-4">
                                When The People Who Have Got Recommendations Of Vihav Comes To Us For Booking Their
                                Dream Home, They'll Tell Us About Your Reference.
                            </p>
                        </div>
                        <span class="card-badge">Step-2</span>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{% static 'referral/aset/images/post-img3.png' %}" alt="Card image cap">
                        <div class="card-body p-4 mt-4">
                            <h5 class="card-title">Your Reward Will Be Transferred To You</h5>
                            <p class="card-text mb-4">
                                After Getting Your Reference, We Will Directly Transfer A Reward Amount Of 6% Of The
                                Amount In Your Account For Recommending Our Projects To Them.
                            </p>
                        </div>
                        <span class="card-badge">Step-3</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials-sec">
        <div class="container">
            <h2 class="heading-title text-center">
                What people are saying
            </h2>
            <div class="divider mb-4">
                <span></span>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="{% static 'referral/aset/images/user.png' %}" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="assets/images/user.png" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="assets/images/user.png" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item-card text-center">
                                    <i class="fas fa-quote-left"></i>
                                    <p class="text-center feedback">
                                        I would like to personally thank you for your outstanding program.
                                    </p>
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <div class="user-profile">
                                        <div class="user-image">
                                            <img src="assets/images/user.png" class="img-fluid">
                                        </div>
                                        <h4 class="user-name">
                                            Mr. Shyam Shah
                                        </h4>
                                        <p class="user-desig">
                                            Vihav Customer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq-sec">
        <div class="container">
            <h2 class="heading-title text-center">
                Frequently asked questions
            </h2>
            <div class="divider mb-4 pb-4">
                <span></span>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header active" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <button class="btn">
                                What is refer & Earn plan ?
                            </button>
                        </h5>
                        <div class="toggle-icon">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            This is an exclusive membership program for Vihav’s associates. It offers exclusive rewards
                            to
                            its members when they refer VIHAV to their friends & family and they buy from us.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            <button class="btn">
                                How refer & Earn Works ?
                            </button>
                        </h5>
                        <div class="toggle-icon">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            When you refer Vihav to someone and they come to us for booking their dream home,
                            they’ll tell us your name, so that we get to know that from where they learnt about
                            our project. On verifying the reference, we’ll credit the reward to your account.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" id="headingThree"  data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="mb-0">
                            <button class="btn">
                                How I can refer to my Friend ?
                            </button>
                        </h5>
                        <div class="toggle-icon">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            You can enter the details of your friends & family whom you want to refer, directly on our
                            website.
                            Or else they can just let us know your name and details while booking at Vihav.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            <button class="btn">
                                What benefit my referral Get ?
                            </button>
                        </h5>
                        <div class="toggle-icon">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            The person to whom you recommended Vihav will get 6% discount on their purchase.
                            And you’ll get the same amount as a reward in your account
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $('.card-header').click(function(){
                $(this).toggleClass('active');
            });
        });
    </script>
    
</body>

</html>