@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  src: url("../fonts/Helvetica-Bold.ttf");
  font-family: "Helvetica";
  /* font-weight: bold; */
} 
@font-face {
  src: url("../fonts/Helvetica.ttf");
  font-family: "Helvetica Light";
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  box-sizing: border-box;
  --h-bold: "Helvetica", "Arial", sans-serif;
  --normal: "Helvetica Light", sans-serif;

  /* color scehm */
  --primary-color: #dcb865;

  --white: #fff;
  --black: #000;
  scroll-behavior: smooth;
}
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--h-bold);
}
body {
  font-family: var(--normal);
  scroll-behavior: smooth;
}

/* login page style */
.login-screen {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;

  background: #fbf6d9;
  border-top: 35px solid var(--primary-color);
  border-bottom: 35px solid var(--primary-color);
  border-image: url("../image/border.png") 50 round;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: white;
  border-radius: 10px;
  margin: 0px 40px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col {
  text-align: center;
}
.col-2 {
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0px 10px 10px 0px;
}
.logo-box {
  width: 100%;
  height: 100%;
}
.form {
  padding: 20px 30px;
}
.form .form-heading {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--h-bold);
}
.form-fields {
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  color: var(--primary-color);
}
.form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  text-align: left;
  padding-left: 10px;
}
.form-group input:focus,
.form-group input:active {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  outline: 0;
}
.action-button {
  display: block;
  width: 100%;
  background: var(--primary-color);
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
}
.action-button:focus {
  outline: 0;
}
.more-action a {
  color: var(--primary-color);
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
/* mobile responsive login form */
@media (max-width: 768px) {
  .login-screen {
    border-top: 25px solid var(--primary-color);
    border-bottom: 25px solid var(--primary-color);
    border-image: url("../image/border.png") 520 round;
  }
  .container {
    margin: 0px 15px;
  }
  .login-screen {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 70px 0px;
  }
  .row {
    grid-template-columns: 1fr;
  }
  .col-2 {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border: 2px solid var(--primary-color);
    border-top: 0px;
    margin-top: -10px;
  }
  .logo-box {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .form .form-heading {
    font-size: 28px;
  }
}
/* login page style end */

/* Index Page style start */
.hero-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fbf6d9;
  border-top: 35px solid var(--primary-color);
  border-bottom: 35px solid var(--primary-color);
  border-image: url("../image/border.png") 60 round;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin: 0 auto;
}
.hero-content h1 {
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-family: var(--h-bold);
  letter-spacing: 0px;
}
@media (max-width: 1272px) {
  .hero-content h1 {
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
  }
}
@media (max-width: 960px) {
  .hero-content h1 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
  }
}
.hero-content .line {
  width: 48%;
  height: 1px;
  background: var(--primary-color);
  margin-bottom: 20px;
  margin-top: 30px;
}
.hero-paragraph {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}
.hero-button-box {
  margin-top: 40px;
}
.hero-button-box .hero-button {
  padding: 8px 14px;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  margin-right: 15px;
  display: inline-block;
}
.hero-button-box .hero-button:hover {
  background: #bd9a49;
}
button:hover {
  background: #bd9a49;
}
.hero-image-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero-image-box .hero-logo {
  width: 50%;

  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.hero-image-box .hero-people {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.hero-logo-mob {
  display: none;
}
/* mobile responsive hero section */
@media (max-width: 960px) {
  .hero-screen {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fbf6d9;
    border-top: 25px solid var(--primary-color);
    border-bottom: 25px solid var(--primary-color);
    border-image: url("../image/border.png") 520 round;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 50px 0px;
  }
  .hero-row {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80%;
    margin: 0 auto;
  }
  .hero-image-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .hero-col {
    margin-bottom: 30px;
  }
  .hero-image-box .hero-logo {
    display: none;
  }
  .hero-logo-mob {
    display: block;
    width: 50%;
    margin-bottom: 20px;
  }
}

/* Index page style end here */

/* Register page */
/* login page style */
.register-screen {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background: #fbf6d9;
  border-top: 35px solid var(--primary-color);
  border-bottom: 35px solid var(--primary-color);
  border-image: url("../image/border.png") 50 round;
  /* background: url("../image/r-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0px;
}
.register-container {
  background: white;
  border-radius: 15px;
  margin: 0px 40px;
  min-width: 80%;
}
.register-row {
  display: grid;
  grid-template-columns: 400px 1fr;
  border-radius: 10px;
}
.register-col {
  text-align: left;
  border-radius: 10px;
}
.register-col-1 {
  border-radius: 10px 0px 0px 10px;
  border: 2px solid var(--primary-color);
  border-right: 0px;
  background: #fbf6d9;
}
.img-responsive {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.mob-image {
  display: none;
}
@media (max-width: 769px) {
  .img-responsive {
    display: none;
  }
  .mob-image {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .register-col-1 {
    background: #fbf6d9;
    border-radius: 10px 10px 0px 0px;
  }
}
.register-col-2 {
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0px 10px 10px 0px;
  display: grid;
  align-items: center;
}
.logo-box {
  width: 100%;
  height: 100%;
}
.form {
  padding: 30px 50px;
}
.register-form-heading {
  font-size: 25px;
  font-weight: 400;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  font-family: var(--normal);
  padding-bottom: 20px;
}
.register-form-fields {
  margin-top: 30px;
  margin-bottom: 30px;
}
.register-form-group {
  margin-bottom: 20px;
}

#id_i_am {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
}
.register-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--primary-color);
}
.register-form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  padding: 0px 10px;
}
.register-form-group select {
  padding: 0px 10px;
}
.register-form-group input:focus,
.register-form-group input:active,
.register-form-group select:active,
.register-form-group select:focus {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  outline: 0;
  background: var(--white);
}
small {
  font-size: 12px;
  color: var(--primary-color);
}
.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-row .col {
  width: 49%;
}
.form-row .col-2 {
  width: 60.5%;
  border-top: 0px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.register-form-group {
  text-align: left;
}
.action-button {
  display: block;
  width: 100%;
  background: var(--primary-color);
  padding: 15px;
  color: #fff;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
}
.more-action a {
  color: var(--primary-color);
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.more-action span{
  color: #bd9a49;
}
/* mobile responsive login form */
@media (max-width: 768px) {
  .register-screen {
    border-top: 35px solid var(--primary-color);
    border-bottom: 35px solid var(--primary-color);
    border-image: url("../image/border.png") 550 round;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 40px 0px;
  }
  .register-container {
    min-width: 90%;
    max-width: 99%;
    width: 99%;
  }
  .register-row {
    grid-template-columns: 1fr;
  }
  .logo-box {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .form-row .col {
    width: 100%;
  }
  .form-row .col-1 {
    width: 100%;
  }
  .form-row .col-2 {
    width: 100%;
  }
  .register-col-2 {
    border-top: 0px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    margin-top: -10px;
  }
  .register-form-heading {
    font-size: 24px;
  }
}

/* Register page end */
