{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'referral/assets\image/favicon.ico' %}">

    <title>Login | One Vihav</title>
    <!-- style -->
    <link rel="stylesheet" href="{% static 'referral/assets/css/style.css' %}" />
  </head>
  <body>
    <section class="login-screen">
      <!-- flex box start -->
      <div class="container">
        <div class="row">
          <div class="col col-1">
            <img src="{% static 'referral/assets/image/LogoBox.png' %}"alt="logo" class="logo-box" />
          </div>
          <div class="col col-2">
            <form method="POST" class="form">
              <h3 class="form-heading">Welcome Back!</h3>
              <div class="form-fields">
              {% csrf_token %}
                <div class="form-group">
                  <label for="email"> Email address*</label>
                  {{ form.username }}
                </div>
                <div class="form-group">
                  <label for="password"> Password*</label>
                  {{ form.password }}
                </div>
                <div class="form-group">
                <button type="submit" name="login" class="action-button">
                  Log In
                </button>
              </div>
              </div>
              <div class="more-action">
                <a href="{% url 'password_reset' %}">Forget Password?</a>
                <a href="{% url 'signup' %}">Don’t have login details? <span>Register now</span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- flex box end -->
    </section>
  </body>
</html>
